# Ignore AWS credentials files
*.pem
*.key
.aws/

# Ignore VSCode settings
.vscode/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore logs
*.log

# Ignore test policies
*test-policy.json

# Scripts to ignore
*/00-labs/iam-assume-role-cli/config.sh
