# Ignore AWS credentials files
*.pem
*.key
.aws/

# Ignore VSCode settings
.vscode/

# Ignore Python cache
__pycache__/
*.pyc

# Ignore logs
*.log

# Ignore test policies and other files
*/notes
*test-policy.json
